<div class="modal fade higherWider" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" >Update F5 BIG-IP Task (<%- name %>)</h4>
      </div>
      <form class="form form-horizontal" role="form" onsubmit="return false;">
      <div class="modal-body">
     



            <input type="hidden" class="form-control" name="edit_task_dialog_id" value="<% print(typeof(id.replace)=='undefined'?id:id.replace(new RegExp('"','g'),'&quot;')); %>">
            <input type="hidden" class="form-control" name="edit_task_dialog_appName" value="<% print(typeof(appName.replace)=='undefined'?appName:appName.replace(new RegExp('"','g'),'&quot;')); %>">
            <input type="hidden" class="form-control" name="edit_task_dialog_name" value="<% print(typeof(name.replace)=='undefined'?name:name.replace(new RegExp('"','g'),'&quot;')); %>">

          <div class="form-group control-group">
            <label class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10 controls">
              <input type="text" class="form-control" name="edit_task_dialog_description" placeholder="Optional" value="<% print(typeof(description.replace)=='undefined'?description:description.replace(new RegExp('"','g'),'&quot;')); %>"
                      maxlength="255">
            </div>
          </div>

            <ul name="addBeanTab" class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#f5_bigip_edit_task_dialog_server_select_panel" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-retweet icon-cloud"></span> Servers</a> </li>
              <li role="presentation"><a href="#f5_bigip_edit_task_dialog_template_select_panel" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-list-alt icon-list"></span> Templates</a></li>
              <li role="presentation"><a href="#f5_bigip_edit_task_dialog_task_setting_panel" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-tasks icon-activity"></span> Settings</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="f5_bigip_edit_task_dialog_server_select_panel">
                <table id="f5_bigip_edit_task_dialog_server_select_panel_table" data-cache="false" data-click-to-select="true" data-height="200">
                    <thead>
                        <tr>
                            <th data-field="_selected" data-checkbox="true"></th>
                            <th data-field="name">Name</th>
                            <th data-field="description">Description</th>
                            <th data-field="interval">Interval</th>
                            <th data-field="appName">App</th>
                        </tr>
                    </thead>
                </table>
              </div>

              <div class="tab-pane" id="f5_bigip_edit_task_dialog_template_select_panel">

                <table id="f5_bigip_edit_task_dialog_template_select_panel_table" data-cache="false" data-click-to-select="true" data-height="200">
                    <thead>
                        <tr>
                            <th data-field="_selected" data-checkbox="true"></th>
                            <th data-field="name">Name</th>
                            <th data-field="description">Description</th>
                            <th data-field="appName">App</th>
                        </tr>
                    </thead>
                </table>

              </div>
              <div class="tab-pane" id="f5_bigip_edit_task_dialog_task_setting_panel">
                <p></p>
                   <div class="form-group control-group">
                     <label class="col-sm-2 control-label">Polling Interval</label>
                     <div class="col-sm-10 controls">
                       <input type="number" class="form-control" name="edit_task_dialog_interval" placeholder="Polling Interval" value="<% print(typeof(interval.replace)=='undefined'?interval:interval.replace(new RegExp('"','g'),'&quot;')); %>" required min="1">
                     </div>
                   </div>
                   <div class="form-group control-group">
                     <label class="col-sm-2 control-label">Source Type</label>
                      <div class="col-md-4 controls">
                        <input type="text" class="form-control" name="edit_task_dialog_sourcetype" placeholder="Source Type" value="<% print(typeof(sourcetype.replace)=='undefined'?sourcetype:sourcetype.replace(new RegExp('"','g'),'&quot;')); %>" required>
                      </div>

                     </div>
                   <div class="form-group control-group">
                     <label class="col-sm-2 control-label">Index</label>
                     <div class="col-sm-10 controls" name="edit_task_dialog_index">
                     </div>
                   </div>


              </div>
            </div>






        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <input type="submit" class="btn btn-primary submit-dialog" value="Update"/>
      </div>
        </form>
    </div>
  </div>
</div>
