<td><%- name %></td>
<td><%- description %></td>
<td><%- servers %></td>
<td><%- templates %></td>
<td><%- interval %></td>
<td><%- index %></td>
<td><%- sourcetype %></td>
<td><%- appName %></td>
<td>
    <span name="enabledPanel" style="float:left;">
        Enabled | <a class="btn-link disable-item">Disable</a>
    </span>
    <span name="disabledPanel" style="float:left;">
        Disabled | <a class="btn-link enable-item">Enable</a>
    </span>
</td>
<td>
    <a class="btn-link delete-item" style="float:left;">Delete</a>
    <div name="dv_modify_row" style="float:left;">&nbsp;| <a class="btn-link update-item" >Edit</a>
    </div>
</td>
